@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define the font faces */
@font-face {
  font-family: 'Gotham';
  font-weight: 400;
  font-style: normal;
  src: url('/fonts/Gotham-Book.otf') format('opentype');
}

@font-face {
  font-family: 'Gotham';
  font-weight: 400;
  font-style: italic;
  src: url('/fonts/Gotham-BookItalic.otf') format('opentype');
}

@font-face {
  font-family: 'Gotham';
  font-weight: 700;
  font-style: normal;
  src: url('/fonts/Gotham-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Gotham';
  font-weight: 700;
  font-style: italic;
  src: url('/fonts/Gotham-BoldItalic.otf') format('opentype');
}

/* Apply Gotham globally */
html {
  font-family: 'Gotham', sans-serif;
}

@keyframes ringing {
    0%, 60%, 100% {
      transform: rotate(0deg);
    }
    10% {
      transform: rotate(15deg);
    }
    20% {
      transform: rotate(-15deg);
    }
    30% {
      transform: rotate(10deg);
    }
    40% {
      transform: rotate(-10deg);
    }
    50% {
      transform: rotate(5deg);
    }
  }
  
  .animate-ringing {
    animation: ringing 5s infinite;
  }
  